body {
    font-family: Arial;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

div.header {
    /*min-height: 100px;*/
    text-align: center;
    min-width: 100%;
    display: table;
    height: 100%;

    background: #7DA7D9;
}

div.header-space {
    float: left;
    width: 20px;
}

div.header-title {
    float: left;
    height: 61px;
    line-height: 61px;
}

div.footer {
    min-width: 100%;
    max-width: 100%;
    padding: 10px;
    display: table;
    height: 100%;
    text-align: center;
    box-sizing: border-box;

    background: #7DA7D9;
}

div.menu, div.content {
    margin: 20px;
    /*background: orange;*/
}

div.middle {
    margin: 20px;
    display: table-row;
    min-width: 100%;
    height: 100%;
}

div.wrapper {
    display: table;
    height: 100%;
    min-width: 100%;
}

.header a {
    color: #000000;
}

a {
    color: #6da3bd;
}

a:hover {
    color: red;
}

span.error {
    color: red;
}




div.header-info {
    font-family: Verdana,Tahoma,Arial;
    font-size: small;
    color: black;
}

div.header-image {
    margin-right: 10px;
}

div.header-image a img {
    width: 417px;
    height: 58px;

}

@media only screen and (min-width: 240px) and (max-width: 360px),
only screen and (min-device-width: 240px) and (max-device-width: 360px)
{
    div.header-image a img {
        width: auto;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 1080px),
only screen and (min-device-width: 360px) and (max-device-width: 1080px)
{
    div.header-image a img {
        width: auto;
        height: 25px;
    }
}
